Repository zonemaster/zonemaster-cli, pull requests merged in 2020-04, with the labels that each got.

#134 Update Perl versions in Travis
  .travis.yml
Labels: A-Travis

#128 Updates in prepartion for release v2019.2
  Changes
Labels: P-High

#137 Updated installation instruction to activate locales on ubuntu and debian
  docs/Installation.md
Labels: A-Installation

#139 Preperations for release v2019.2 (CLI)
  Changes
  lib/Zonemaster/CLI.pm
Labels: A-BuildSystem
